

#parallax-woods {
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.parallax {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

