#projects-section {
    background-image: linear-gradient(rgb(79, 196, 133), #e66465);
    
}

#project-grid {
    display: grid;
    gap: 5vw;
    justify-content: center;
}
  
#project-grid li {
    padding: 0;
    border-radius: 8px;
     max-width: 400px;
    margin: 0;
    border: 2px solid rgb(214, 214, 214);
    transition: background-color 0.5s ease-out;
}

#project-grid li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    cursor: pointer;
}

#project-grid li img {
    width: auto;
    height: min(70vw, 300px);
    padding: 1rem;
}

#project-grid li h3 {
    margin-top: 0;
}

#project-grid li p {
    margin: 1rem;
}

#project-intro {
    text-align: center;
    padding: 3rem 1rem;
}
  
@media (max-height: 585px) {
    #projects-section {
        min-height: 585px;
    }
}